{% extends "base.html" %}

{% block content %}

<div class="container">

      <br><br>

<h3>Авторизация</h3>

<form action="{{ url_for('process_login') }}" method="post">
  {{ form.hidden_tag() }}

  <div class="form-group">
    {{ form.username.label }}<br>
    {{ form.username() }}
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    {{ form.password.label }}<br>
    {{ form.password() }}
  </div>

<div class="form-group form-check">
    {{ form.remember_me() }}
    {{ form.remember_me.label(class_='form-check-label') }}
</div>

  <div>
    {{ form.submit }}
  </div>

</form>
    </div>

{% endblock %}