{% extends "base.html" %}

{% block content %}



    <div class="container">

<br><br>

<h3>Регистрация</h3>



<form action="{{ url_for('process_registration') }}" method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.username_reg.label }}<br>
        {{ form.username_reg() }}
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        {{ form.password_reg.label }}<br>
        {{ form.password_reg() }}


    </div>

    <div>
        {{ form.submit_reg }}
    </div>

</form>
    </div>

{% endblock %}