<h3>Такая книга есть в нашей базе данных!</h3>

<form action="{{ url_for('process_search') }}" method="POST">
    ----------------------------------------------
    <h4> {{ result }}</h4>
    <!-- <h4> Название книги: {{ result.book_name }}</h4>
    <h4> Автор: {{ result.author_id }}</h4>
    <h4> Издательство: {{ result.book_publisher }}</h4>
    <h4> Аннотация: {{ result.book_annotation }}</h4>
    <h4> Жанр: {{ result.book_genre }}</h4> -->
    ----------------------------------------------
</form>
